################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureApisTest/v16/Server/sqlite3
/ContinuosDeployment/bin/Debug/netcoreapp2.2
/ContinuosDeployment/obj/Debug/netcoreapp2.2
/ContinuosDeployment/obj
/.vs/AzureApisTest/config/applicationhost.config
